.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.App-header {
  background-color: #222;
  height: 250px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.auth div {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.auth input {
  width: 50%;
}

.auth label {
  width: 100px;
  text-align: left;
  min-width: 100px;
  max-width: 100px;
}
